.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

.microgit_logs/**
.microgit_shadow/**
test_dummy.py

.github/**
articles/**
markdowns/**
docs/**
books/**
**/*.vsix
out/test/**
src/test/**